#dnd5e-custom-counters-form ul {
    list-style-type: none;
    padding: 0;
}

#dnd5e-custom-counters-form li {
    align-items: center;
    gap: 0.5em;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}

#dnd5e-custom-counters-form li {
    cursor: move;
}

#dnd5e-custom-counters-form li:first-child {
    border-top: none;
    padding-top: 0;
}

#dnd5e-custom-counters-form li.dragElem {
    opacity: 0.4;
  }

#dnd5e-custom-counters-form li.over {
    border-top: 2px solid red;
}

#dnd5e-custom-counters-form .fields {
    align-items: center;
    display: flex;
    gap: 0.75em;
}

#dnd5e-custom-counters-form .field {
    align-items: center;
    display: flex;
    flex: auto;
    gap: 0.25em;
}

#dnd5e-custom-counters-form footer {
    display: flex;
    flex-direction: column;
    gap: 0.25em;
}

#dnd5e-custom-counters-form .delete-button {
    background: transparent;
    border: none;
}

#dnd5e-custom-counters-form .delete-button:hover {
    box-shadow: none;
}

#dnd5e-custom-counters-form .delete-button.disabled > i {
    color: transparent;
}

#dnd5e-custom-counters-form .delete-button:hover > i {
    text-shadow: 0 0 5px var(--color-shadow-primary);
    outline: none;
}

#dnd5e-custom-counters-form .delete-button.disabled:hover > i {
    text-shadow: none;
}

#dnd5e-custom-counters-form .new-button {
    background: rgba(255, 255, 240, 0.8);
    border: 1px solid var(--color-border-light-primary);
}

#dnd5e-custom-counters-form .hidden {
    display: none;
}

.dnd5e-custom-counters-counters ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 0;
    max-width: calc(var(--skills-col-width) + 100px);
    min-width: var(--skills-col-width);
    padding: 0;
}

.dnd5e-custom-counters-counter h4 {
    align-items: center;
    display: flex;
    font-family: var(--dnd5e-font-roboto-condensed);
    font-size: var(--font-size-14);
    margin: 0;
}

.dnd5e-custom-counters-counter input {
    background-color: unset;
    font-size: var(--font-size-14);
    font-weight: bold;
    text-align: center;
    width: 100%;
}

.dnd5e-custom-counters-counter i {
    align-items: center;
    display: flex;
    color: var(--dnd5e-color-gold);
    font-size: var(--font-size-14);
    justify-content: center;
}

.dnd5d-custom-counters-separator {
    align-items: center;
    display: flex;
    flex: 0.25;
    color: var(--dnd5e-color-gold);
    font-size: var(--font-size-18);
    font-weight: bold;
    justify-content: center;
}

.dnd5e-custom-counters-fraction {
    display: grid;
    grid-template-columns: 0.75fr 1.25fr 0.75fr 1.25fr;
}

.dnd5e-custom-counters-fraction-group {
    background-color: var(--dnd5e-color-parchment);
    border: 1px solid var(--color-border-light-tertiary);
    border-radius: 3px;
    display: grid;
    grid-column-start: 2;
    grid-template-columns: 1.25fr 0.75fr 1.25fr;
    grid-column-end: 5;

}

.dnd5e-custom-counters-fraction-group > input {
    background-color: unset;
    border: 0;
    border-radius: 0;
}

.dnd5e-custom-counters-number {
    display: grid;
    grid-template-columns: 0.75fr 1.25fr 0.75fr 1.25fr;
}

.dnd5e-custom-counters-number > input {
    background-color: var(--dnd5e-color-parchment);
}

.dnd5e-custom-counters-success-failure {
    background-color: var(--dnd5e-color-parchment);
    border: 1px solid var(--color-border-light-tertiary);
    border-radius: 3px;
    display: grid;
    grid-template-columns: 0.75fr 1.25fr 0.75fr 1.25fr;
}

.dnd5e-custom-counters-success-failure > input {
    border: 0;
    border-left: 1px dashed var(--color-border-light-tertiary);
    border-radius: 0;
}

.dnd5e-custom-counters-success-failure > input:first-of-type {
    border-right: 1px solid var(--color-border-light-tertiary);
}

.dnd5e-custom-counters-number > input {
    grid-column-start: 4;
}

